$Purple: rgb(224, 212, 252);
$Green: rgb(190, 240, 210);
$Yellow: rgb(252, 249, 67);
$Dark: #1F2041;
$Light: #FFFFFF;
$Blue: #2a93d4;
$Green-ligth: #5bd1d7;
$Dark-75: rgba(31, 32, 65, 0.75);
$Dark-50: rgba(31, 32, 65, 0.50);
$Dark-25: rgba(31, 32, 65, 0.25);